<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="angular.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Angular JS</title>
  <script>
    // import module
    angular.module('listaTelefonica', []);

    // Controller
    angular.module('listaTelefonica').controller('listaTelefonicaCtrl', function ($scope) {
      $scope.title = "Lista Telefonica"

      $scope.contatos = [{
        nome: "João", telefone: "3333322344"
      },{
        nome: "Ana", telefone: "3333322344"
      },{
        nome: "Maria", telefone: "3333322344"
      }]

      $scope.operadoras = [
        {nome: 'Oi', codigo: 14},
        {nome: 'Vivo', codigo: 15},
        {nome: 'Tim', codigo: 20},
      ]

      $scope.apagarContato = function(listas){
        $scope.contatos = listas.filter( row => !row.selecionado ? row : '');
      }

      $scope.adicionarContato = function(contato) {
        // if(nome && telefone) {
          // $scope.listas.push({nome, telefone});
        // }
        console.log(contato)
        if(contato) {
          // $scope.listas.push(angular.copy(contato));
          $scope.contatos.push(contato);
          delete $scope.contato
          $scope.contatoForm.$setPristine();
        }
      };

      $scope.isContatoSelecionado = function (contatos) {
        return contatos.some( function(row) {
          return row.selecionado
        })
      }
    });
  </script>
</head>
<body>
  <div class="container" ng-controller="listaTelefonicaCtrl">
    <div class="row jumbotron">
      <div class="col-md-12 text-center">
        <h1 class=" mt-4 mb-4" ng-bind="title"></h1>
      </div>
      <div class="col-md-12">
        <table class="table table-striped mt-3">
          <tr>
            <th></th>
            <th>Nome</th> 
            <th>Telefone</th>
            <th>Operadora</th>
          </tr>
          {{contato}}
          <tr ng-repeat="contato in contatos" ng-class="{selecionado: contato.selecionado}">
            <td><input type="checkbox" ng-model="contato.selecionado"></td>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome}}</td>
          </tr>
        </table>
        <hr>
        <form name="contatoForm">
          <div class="row">
            <div class="col-md-5">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                </div>
                <input type="text" class="form-control" name="nome" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required ng-required="true" ng-model="contato.nome">
                <div class="invalid-feedback" style="display: inherit;" ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty" >Campo é obrigatório</div>
              </div>
            </div>
            <div class="col-md-4 form-group has-error">
              <div class="input-group  mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Telefone</span>
                </div>
                <input type="number" class="form-control" name="telefone" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required ng-required="true" ng-model="contato.telefone">
                <div class="invalid-feedback" style="display: inherit;" ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty" >Campo é obrigatório</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Operadoras</label>
                </div>
                <select class="custom-select" name="operadora" id="inputGroupSelect01" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras" ng-required="true">
                  <option value="" selected disabled>Selecine...</option>
                </select>
                <div class="invalid-feedback" style="display: inherit;" ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty" >Campo é obrigatório</div>
              </div>
            </div>
            <div class="col-md-12 alert alert-danger text-center" ng-show="contatoForm.$invalid">
              <h4>Por favor preencha os campos!</h4>
            </div>
              
            <div class="col-md-6">
              <button class="btn btn-primary btn-block" type="button" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Add contato</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-danger btn-block" type="button" ng-click="apagarContato(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar contato</button>
            </div>
          </div>        
        </form>
        <div class="alert-info">
          {{contato}}
        </div>
      </div>
    </div>
    <div ng-include="'footer.html'"></div>
  </div>
</body>
</html>