/* body {
    background-color: black;
    color: aliceblue;
} */

table .selecionado {
    background-color: yellow !important;
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
}